.main-language-text {
  font-size: 3.5rem;
  margin-left: 24%;
  font-family: "Gill Sans", sans-serif;
  font-weight: 400;
}

.sub-language-text {
  font-size: 2.5rem;
  margin-left: 32%;
  font-family: "Figtree";
  font-weight: 600;
}

.translate-text {
  font-size: 1.1rem;
  font-family: "Figtree";
  font-weight: 300;
}