/* add tailwind without Preflight */
/* 1. Set your layer order */
@layer theme, base, components, utilities;

/* 2. Import the core package with the prefix */
@import "tailwindcss/theme";
@import "tailwindcss/utilities";

/* add typing animation */
@theme {
  --animate-typing: typing 3.5s steps(40, end) forwards, blink .75s step-end infinite;

  @keyframes typing {
    from { width: 0; }
    to { width: var(--typing-width);}
  }
  @keyframes blink {
    50% { border-color: transparent; }
  }
}

html,
body,
#root {
  margin: 0;
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(#FFEFB0, #FFFFFF);
}

@layer base {
  body {
    font-family: "Figtree", sans-serif;
  }
}

.home-page {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.home-content {
  width: 100%;
}